.Score {
   display: inline-block;
   color: white;
   background-color: #bbada0;
   font-weight: bold;
   position: relative;
   text-align: center;
   user-select: none;
   padding: 7px 15px;
   border-radius: 5px;
}
.Score span {
   width: 100%;
   text-transform: uppercase;
   display: block;
   text-align: center;
   margin-bottom: 2px;
   font-size: 13px;
   color: #eee4ad;
}